body.breeze {
	padding: 0;
}
#header {
	background: #008DB7;
}
#header-title {
	height: 85px;
	width: 960px;
	margin: 0 auto;
}
#header-logo {
	width: 63px;
	height: 85px;
	float: left;
	background: url('../images/top_zk_logo.png') no-repeat scroll 0px 21px transparent;
}
#header-logo a {
	display: block;
	font-size: 1px;
	width: 63px;
	height: 85px;
}
.header-link {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	width: 48px;
	height: 48px;
	margin: 18px 0 0 8px;
	line-height: 48px;
	text-align: center;
	float: right;
	background: #006684;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header-link a {
	text-decoration: none;
	color: #FFFFFF;
}
.header-link a:visited {
	color: #FFFFFF;
}
.header-current-link {
	background: #292A31;
	cursor: default;
}
.container,
.container-title {
	width: 960px;
	margin: 0 auto;
}
.container-title {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #D7D7D7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.content {
	margin-right: 20px;
}
.download-label {
	font-size: 12px;
	font-weight: 600;
	width: 40%;
	padding-right: 2px;
	line-height: 24px;
	float: left;
	text-align: right;
}
.download-label.checkbox {
	line-height: 30px;
	text-align: center;
}
.download-input {
	width: 59%;
	float: right;
}
.download-separator {
	height: 3px;
	width: 100%;
	clear: both;
}
.preview-label {
	width: 40%;
	padding-right: 2px;
	line-height: 24px;
	float: left;
}
.checkbox .z-checkbox-content,
.preview-label .z-checkbox-content {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 12px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.preview-input {
	width: 59%;
	float: right;
}
.tr-label {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 11px;
	font-weight: 600;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#footer {
	background-color: #102D35;
	color: #708286;
	height: 70px;
}
#footer-inner {
	width: 960px;
	margin: 0 auto;
	padding-top: 29px;
}
#footer-txt {
	float: right;
}
#footer-contact {
	float: left;
}
#footer a {
	color: #B8C0C3;
}

.printHeader,
.printFooter {
	line-height: normal;
	padding-bottom: 5px;
	display: flex;
	align-items: flex-end;
}
.printHeader *,
.printFooter * {
	box-sizing: border-box;
}
.printHeader {
	border-bottom: 1px dotted gray;
}
.printFooter {
	border-top: 1px dotted gray;
}
.printHeader .logo {
	width: 200px;
	height: 60px;
	border: 1px groove #FDFDFD;
}
.printHeader .title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	flex: 1;
}
.printHeader .text {
	width: 200px;
	text-align: right;
}
.printHeader .separator {
	clear: both;
	padding-top: 5px;
	border: none;
	border-bottom: 1px dotted gray;
}
.printFooter .signature {
	flex: 1;
	height: 60px;
	font-size: 16px;
}
